{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<div class="ui container">
    <h1>Curso de backend</h1>
    <h2>HTTP</h2>

    <p>
        En esta sección veremos el funcionamiento del protocolo HTTP.
    </p>
</div>
{% endblock %}
